.section-background{
	background: url('../images/about.png');
}

.about{
	background: #f3f3f3;
}
.about-detail{
	font-family: 'RobotoCustom';
	font-size: 18px;
	color: #999;
	font-weight: 200;
	top: 50%;
	transform: translateY(5%);
	margin-left: 20px;
	margin-right: 20px;
	/*position: absolute;*/
	/*padding-left: 40px;*/
    /*line-height: 22px;*/
}

.about-list{
	font-family: 'RobotoCustom';
	font-size: 18px;
	color: #999;
	font-weight: 200;
	padding-bottom: 30px;
	padding-right: 10px;
	/*position: absolute;*/
	/*padding-left: 40px;*/
    /*line-height: 22px;*/
}

.about-list-item{
	font-family: 'RobotoCustom';
	font-size: 18px;
	color: #999;
	font-weight: 200;
	padding-bottom: 30px;
	list-style-type: none;
}

.about-list-item li {
    position: relative; /* Required for pseudo-element positioning */
    padding-left: 1.5em; /* Add space for the custom bullet */
}

/* .about-list-item li::marker {
    content: "\27A4";
    color: #023047;
    font-size: 1.2em;
	position: absolute;
    left: 0; 
    top: 0;
} */

/* img.about-img {
	width: 90%;
	margin: 12% 15% 0%;
} */

.section-item-title, .section-item-detail{
	text-align: center;
}
.about .row:nth-child(4){
	margin-top: 90px;
}
.team{
	background: #ededed;
}
.team-item{
	background: #f3f3f3;
	margin-bottom: 50px;
	text-align: center;
}
.team-img{
	width: 100%;
}
.team-item-name{
	font-size: 14px;
	margin-bottom: 0px;
	padding-top: 20px;
}
.team-item-id{
	color: #a3a2a2;
	font-size: 11px;
	text-transform: uppercase;
	padding-bottom: 30px;
}
