.one-page-nav{
	padding: 10px 0px;
	background: #219ebc;
}
.one-page-nav .navbar-nav>.active>a, .one-page-nav .navbar-nav>.active>a:focus, .one-page-nav .navbar-nav>.active>a:hover{
    background-color: transparent;
    border: 1px solid #FFF;
	color: #FFF;
}.one-page-nav .navbar-nav>li>a{
	color: #FFF;
}
.one-page-nav .navbar-nav>li>a:hover{
	border: 1px solid #FFF;
	color: #FFF;
}
.one-page-nav .navbar-nav>li>a:focus, .one-page-nav .navbar-nav>li>a:hover{
	color: #FFF;
}